@model IdentityBaseWork.Models.AgeGroup

@{
    ViewData["Title"] = "AddAgeGroup";
    Layout = "~/Views/Shared/_Layoutdb.cshtml";
}

<h1>AddAgeGroup</h1>

<h4>AgeGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAgeGroup" asp-controller="admin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Age_List">Back to List</a>
</div>

