
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "About_Us";
}

    <h1>About Us</h1>
    <p>
        At SRC Travel Agency, we believe that traveling should be more than just moving from one place to another—it should be an experience that is seamless, comfortable, and memorable. Established with a passion for delivering high-quality transportation services, we take pride in being a trusted partner for travelers across all age groups.
    </p>

    <h1>Why Choose SRC Travel Agency?</h1>

    <h4>Safety First:</h4>
    <p>Your safety is our top priority. Our fleet of buses is maintained to the highest standards and driven by experienced, licensed drivers.</p>

    <h4>Punctuality Guaranteed: </h4>
    <p>We understand the value of your time. Our services are designed to adhere to schedules, so you can count on us to get you to your destination promptly.</p>

    <h4>Comfortable Rides: </h4>
    <p>Our buses are equipped with modern amenities to provide a relaxing journey, including comfortable seating, climate control, and clean interiors.</p>

    <h4>Customer Support: </h4>
    <p>Our dedicated support team is always ready to assist you, ensuring that your travel plans go smoothly from start to finish.</p>

    <p>Whether you’re traveling for work, leisure, or any occasion, SRC Travel Agency is here to make your journey stress-free and enjoyable. We are committed to delivering excellence, one trip at a time.</p>

    <p>Choose SRC Travel Agency and experience the ease and reliability of modern travel.</p>



