/*=============================================================
    Author URI: www.binarycart.com
    License: Commons Attribution 3.0
    http://creativecommons.org/licenses/by/3.0/
    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
========================================================*/

/*==============================================
    GENERAL STYLES    
=============================================*/

body {
    font-family: 'Open Sans', sans-serif;
    background: #E0F7FF; /* Very light sky blue */
}
#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #D3ECFF; /* Light sky blue */
}
#page-inner {
    width: 100%;
    margin: 10px 20px 10px 0;
    background-color: #FFFFFF !important;
    padding: 10px;
    min-height: 1200px;
}

.text-center {
    text-align: center;
}
.no-border {
    border: 1px solid #E0F7FF; /* Very light sky blue */
}
h2 {
    color: #0047AB; /* Dark blue */
}
h4 {
    padding-top: 10px;
}
.square-btn-adjust {
    border: 0 solid transparent; 
    border-radius: 0;
}
p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
}

/*==============================================
   DASHBOARD STYLES    
=============================================*/

.panel-back {
    background-color: #F5F7FB; /* Very light sky blue */
}
.noti-box {
    min-height: 100px;
    padding: 20px;
}
.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}
.text-box p {
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight: 600;
}
.set-icon {
    border-radius: 50px;
}
.bg-color-green {
    background-color: #00CE6F;
    color: #FFF;
}
.bg-color-blue {
    background-color: #4A90E2; /* Sky blue */
    color: #FFF;
}
.bg-color-red {
    background-color: #4A90E2; /* Sky blue */
    color: #FFF;
}
.bg-color-brown {
    background-color: #87CEEB; /* Light sky blue */
    color: #FFF;
}

.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
}

.main-temp-back {
    background: #6CA0DC; /* Medium sky blue */
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.main-temp-back .text-temp {
    font-size: 40px;
}
.back-dash {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: #87CEEB; /* Sky blue */
    color: #FFF;
}
.back-dash p {
    padding-top: 16px;
    font-size: 13px;
    color: #FFF;
    line-height: 25px;
    text-align: justify;
}
.back-footer-green {
    background-color: #00A36C; /* Teal-green */
    border-top: 0 solid #FFF;
}
.back-footer-red {
    background-color: #B22222; /* Firebrick red */
    border-top: 0 solid #FFF;
}
.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}

/* CHAT PANEL */
.chat-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}
.chat-box {
    margin: 0;
    padding: 0;
    list-style: none;
}
.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}
.chat-box li.left .chat-body {
    margin-left: 90px;
}
.chat-box li .chat-body p {
    margin: 0;
    color: #8D8888;
}
.chat-img > img {
    margin-left: 20px;
}

/*==============================================
    MENU STYLES    
=============================================*/

.user-image {
    margin: 25px auto;
    border-radius: 10px;
    max-height: 170px;
    max-width: 170px;
}
.navbar-cls-top .navbar-brand {
    color: #FFF;
    background: #0047AB; /* Dark blue */
    width: 260px;
    text-align: center;
    height: 60px;
    font-size: 30px;
    font-weight: 700;
}
.active-menu {
    background-color: #0047AB !important; /* Dark blue */
}
.arrow {
    float: right;
}
.fa.arrow:before {
    content: "\f104";
}
.active > a > .fa.arrow:before {
    content: "\f107";
}
.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}
.nav-second-level li a {
    padding-left: 37px;
}
.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}
.sidebar-collapse .nav {
    padding: 0;
}
.sidebar-collapse .nav > li > a {
    color: #FFF;
    background: #0047AB; /* Dark blue */
    text-shadow: none;
}
.sidebar-collapse > .nav > li > a {
    padding: 15px 10px;
}
.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background: #6CA0DC; /* Medium sky blue */
    outline: 0;
}
.nav-second-level > li > a:before,
.nav-third-level > li > a:before {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    width: 15px;
    height: 1px;
    background: #0047AB; /* Dark blue */
    top: 20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    width: 1px;
    height: 100%;
    background: #0047AB; /* Dark blue */
    top: 0;
    z-index: 10;
}
.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}
.navbar-side {
    border: none;
    background-color: #202020;
}
.navbar-cls-top {
    background: #2E3A59; /* Darkened navy */
    border-bottom: none;
}
.navbar-cls-top .navbar-brand:hover {
    background: #6CA0DC; /* Medium sky blue */
    color: #FFF;
}
.navbar-default {
    border: 0 solid black;
}
.navbar-default .navbar-toggle {
    border-color: #FFF;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.nav > li > a > i {
    margin-right: 10px;
}

/*==============================================
    UI ELEMENTS STYLES     
=============================================*/
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
=============================================*/
@media(min-width: 768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
    }
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }
    .navbar {
        border-radius: 0;
    }
}
